.advantage {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: -12px;
    left: 0;
    height: 27px;
    background-image: url("../img/bg-triangle.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 322px 37px;
    z-index: 10;
  }
}

.advantage__text--white {
  margin-left: auto;
  margin-right: auto;
  max-width: 290px;
}

.advantage__house {
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #81b3d2;
  background-size: cover;
  width: 100%;
  min-height: 190px;
}

.advantage__shift {
  display: inline-block;
}

.advantage__first {
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #81b3d2;
  background-size: cover;
  width: 100%;
  min-height: 190px;
}

.advantage__city {
  text-transform: uppercase;
  background-color: $bg-blue;
  min-height: 190px;
  padding-top: 40px;
  padding-bottom: 25px;
  color: $text-white;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  line-height: 21px;

  &__wrapper {
    padding: 0 20px;
  }

  &--second {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.advantage__place {
  text-transform: uppercase;
  font: 400 14px/19px $ptsans;
  color: $text-gray;
  margin: 0 auto;
  width: 250px;
}

.advantage__title {
  text-transform: uppercase;
  font: 700 18px/21px $ptsans;
}

.advantage__text,
.advantage__number {
  text-transform: uppercase;
  font: 400 14px/21px $ptsans;
  color: $text-gray;

  &--white {
    color: $text-white;
  }
}

.advantage__image {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  min-height: 256px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantage__first {
    background-image: url("../img/main-bridge-mobile@2x.jpg");
  }

  .advantage__house {
    background-image: url("../img/main-city-mobile@2x.jpg");
  }
}

@media (min-width: 768px) {
  .advantage {
    &::before {
      display: none;
    }
  }

  .advantage__city--second {
    order: 1;
  }

  .advantage__wrapper {
    display: flex;
  }

  .advantage__shift {
    display: inline-block;
  }

  .advantage__first {
    order: 0;
    background-image: url("../img/main-bridge-tablet@1x.jpg");
  }

  .advantage__house {
    background-image: url("../img/main-city-tablet@1x.jpg");
  }

  .advantage__title {
    margin-top: 15px;
    font-size: 21px;
    line-height: 26px;
  }

  .advantage__city {
    padding-top: 30px;
  }

  .advantage__blue {
    padding: 0 42px;
    margin: 0 auto;
    width: 170px;
  }

  .advantage__number {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .advantage__text {
    margin-top: 17px;
    margin-bottom: 10px;
  }

  .advantage__background-white {
    padding: 10px 8%;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantage__house {
      background-image: url("../img/main-city-tablet@2x.jpg");
    }

    .advantage__first {
      background-image: url("../img/main-bridge-tablet@2x.jpg");
    }
  }
}

@media (min-width: 1200px) {
  .advantage__blue {
    padding: 0;
    margin: 0;
    margin-top: 25px;
    width: 100%;
  }

  .advantage__title {
    padding: 0 42px;
    margin: 0 auto;
    width: 170px;
  }

  .advantage__number {
    margin-top: 10px;
    line-height: 5px;
  }

  .advantage__text--two {
    margin-top: 30px;
    width: 230px;
  }

  .advantage__text--one {
    margin-top: 30px;
  }

  .advantage__house {
    background-image: url("../img/main-city-desktop@1x.jpg");
  }

  .advantage__first {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
  }

  .advantage__wrapper {
    width: 100%;
  }

  .advantage__shift {
    display: inline-block;
  }

  .advantage__city {
    width: 33.333333%;
  }

  .advantage__image {
    width: 66.6666667%;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantage__house {
      background-image: url("../img/main-city-desktop@2x.jpg");
    }

    .advantage__first {
      background-image: url("../img/main-bridge-desktop@2x.jpg");
    }
  }
}
