.banner {
  position: relative;
}

.banner img{
  z-index: 0;
}

.banner__caption {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  margin-top: -200px;
  margin-left: 200px;

  @include text(700, normal, 80px, 26px, $text-white);
  }
