.copyright {
  &__text {
    margin: 0 auto;
    font: 400 14px/26px $ptsans;
  }

  &__link {
    font-size: 0;
    height: 53px;
    fill: $bg-black;
  }

  &__icon {
    fill: $bg-black;
    position: absolute;

    &__icon:hover {
      fill: $bg-blue;
    }

    &__icon:active {
      fill: $bg-gray;
    }
  }
}
