.description {
  text-align: center;

  &__title {
    margin: 0 auto;
    text-transform: uppercase;
    font: 700 18px/26px $ptsans;
    color: $text-black;
  }

  &__text {
    margin: 0 auto;
    text-transform: uppercase;
  }
}
