.description {
  text-align: center;
  padding-top: 45px;
  margin-bottom: 30px;

  &__title {
    margin: 0 auto;
    text-transform: uppercase;
    font: 700 18px/26px $ptsans;
    color: $text-black;
    padding: 0 7%;
    padding-bottom: 28px;
  }

  &__text {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .description {
    padding: 52px 15% 20px;
  }

  .description__title {
    font: 700 21px/26px $ptsans;
    color: $text-black;
    padding: 0 7%;
    padding-bottom: 28px;
  }
}

@media (min-width: 1200px) {
  .description {
    padding: 5px 20% 18px;
  }

  .description__title {
    padding-top: 45px;
    font: 700 21px/26px "pt sans", "Arial", sans-serif;
  }
}
