.form-section {
  &__title {
    padding-bottom: 10px;
    text-transform: uppercase;
    font: 700 18px/26px $ptsans;
    color: $text-black;
    text-align: center;
  }

  &__item:nth-child(3) {
    border-right: 1px solid #e5e5e5;
  }

  &__label sup {
    position: relative;
    top: -5px;
  }

  &__label {
    text-transform: uppercase;
    font: 400 14px/26px $ptsans;
    color: $text-gray;
    margin: auto 0;
  }

  &__meet {
    background-color: $bg-input;
    font: 700 18px/26px $ptsans;
    color: $text-black;
    border: none;

    &:hover {
      background-color: #e5e5e5;
    }

    &:focus {
      color: #000000;
      background-color: #ffffff;
      border: 4px solid #e5e5e5;
    }
  }

  &__field {
    font: 700 18px/26px $ptsans;
    color: $text-black;
    padding-top: 20px;
    min-height: 60px;
    display: inline-flex;
    width: 100%;
  }

  &__contact {
    background-color: $bg-input;
    font: 700 18px/26px $ptsans;
    color: $text-black;
    border: none;

    &:hover {
      background-color: #e5e5e5;
    }

    &:focus {
      color: #000000;
      background-color: #ffffff;
      border: 4px solid #e5e5e5;
    }
  }

  &__impression {
    font: 700 18px/26px $ptsans;
    color: $text-black;
  }

  &__landmarks {
    font: 700 18px/26px $ptsans;
    color: $text-black;
    display: inline-block;

    input[type="checkbox"] {
      display: none;
    }

    label {
      display: inline-block;
      margin: auto 0;
      cursor: pointer;
      position: relative;
      padding-left: 80px;
      text-transform: none;
      font: 700 18px/26px $ptsans;
    }

    label::before {
      content: "";
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      left: 0;
      bottom: -12px;
      background-color: $bg-input;
      width: 56px;
      height: 56px;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    input[type="checkbox"]:checked ~ label::before {
      background-image: url("../img/icon-tick.svg");
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    input[type="checkbox"]:checked ~ label:hover::before {
      background-image: url("../img/icon-tick.svg");
      background-color: #e5e5e5;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    input[type="checkbox"] ~ label:hover::before {
      background-color: #e5e5e5;
      cursor: pointer;
    }

    input[type="checkbox"]:checked ~ label:active::before {
      background-image: url("../img/icon-tick.svg");
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      opacity: 0.4;
    }

    input[type="checkbox"] ~ label:active::before {
      background-image: url("../img/icon-tick.svg");
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      opacity: 0.4;
    }

    input[type="checkbox"]:checked ~ label:disabled::before {
      background-image: url("../img/icon-tick.svg");
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  &__textarea {
    background-color: $bg-input;
    font: 700 18px/26px $ptsans;
    color: $text-black;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    min-height: 120px;
    padding: 20px;
  }

  &__item {
    border-top: 1px solid $bg-gray;
    padding: 20px 20px 22px;
  }

  &__submit {
    text-align: center;
    margin-bottom: 40px;
  }

  &__comment {
    width: 100%;
  }

  &__field--contact {
    width: 100%;

    &__field {
      display: block;
    }
  }

  &__wrap {
    position: relative;
    margin-top: 10px;
    width: 100%;
  }

  &__icon {
    content: "";
    position: absolute;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center;
    width: 58px;
    height: 58px;
    background-color: $bg-gray;
    right: -10px;
    top: 0;
  }

  &__icon--phone::after {
    content: url("../img/icon-phone.svg");
    width: 18px;
  }

  &__icon::after {
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    position: absolute;
  }

  &__icon--email::after {
    content: url("../img/icon-mail.svg");
    width: 18px;
  }

  &__field--impression {
    min-height: 48px;
  }

  &__opinion {
    display: inline-block;

    input[type="radio"] {
      display: none;
    }

    label::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: -12px;
      border-radius: 50%;
      background-color: $bg-input;
      width: 56px;
      height: 56px;
    }

    input[type="radio"]:checked ~ label::before {
      background-color: $bg-black;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 18px solid $bg-input;
      cursor: pointer;
    }

    input[type="radio"] ~ label::before {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 18px solid $bg-input;
      cursor: pointer;
    }

    input[type="radio"]:checked ~ label:hover::before {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 18px solid #e5e5e5;
      background-color: #333333;
    }

    input[type="radio"] ~ label:hover::before {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 18px solid #e5e5e5;
      background-color: #e5e5e5;
    }

    input[type="radio"]:checked ~ label:active::before {
      background-color: rgba(51, 51, 51, 0.3);
      border: 18px solid #d5d5d5;
    }

    input[type="radio"] ~ label:active::before {
      background-color: #d5d5d5;
      border: 18px solid #d5d5d5;
    }

    label {
      display: inline-block;
      margin: auto 0;
      cursor: pointer;
      position: relative;
      padding-left: 80px;
      text-transform: none;
    }
  }

  &__line {
    display: none;
  }
}

input.form-section__meet--long[type="text"] {
  width: 100%;
  margin-left: 20px;
  padding-left: 20px;
}

input[type="text"] {
  font: 700 18px/26px $ptsans;
  border: 4px solid $bg-input;
  outline: none;
  background: $bg-input;
  height: 50px;
  color: $text-black;
}

input.form-section__contact[type="text"] {
  width: 100%;
}

.form-section__submit input[type="submit"] {
  background-color: $bg-blue;
  text-align: center;
  font: 400 21px/26px "pt sans", sans-serif;
  border: none;
  outline: none;
  color: $text-white;
  text-transform: uppercase;
  padding: 16px 0;
  min-width: 458px;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.form-section__submit input[type="submit"]:hover {
  background-color: $blue-dark;
}

.form-section__submit input[type="submit"]:active {
  background-color: $blue-dark;
  color: $blue-deep;
}

.form-section__submit input[type="submit"]:disabled {
  background-color: #e5e5e5;
}

@media (min-width: 768px) {
  .form-section {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    &__title {
      min-width: 258px;
      font-size: 21px;
      margin-bottom: 40px;
    }

    &__submit {
      text-align: left;
      position: relative;
      margin-bottom: 60px;
      margin-left: 230px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__icon {
      content: "";
      position: absolute;
      right: 0;
    }

    &__legend--line {
      text-align: center;
      position: relative;
      width: 100%;
      margin-bottom: 15px;
    }

    &__legend--line::before {
      content: "";
      display: block;
      width: 25%;
      height: 1px;
      background: #dbdbdb;
      transform: translateY(-50%);
      top: 50%;
      position: absolute;
    }

    &__legend--line::after {
      right: 0;
      content: "";
      display: block;
      width: 25%;
      height: 1px;
      background: #dbdbdb;
      transform: translateY(-50%);
      top: 50%;
      position: absolute;
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      border: none;
      padding: 0;
      margin: 0 0 60px;
    }

    &__item:first-child {
      align-items: flex-end;
    }

    &__item:nth-child(2) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }

    &__item:nth-child(3) {
      order: -1;
      align-items: flex-start;
    }

    &__item:nth-child(1),
    &__item:nth-child(3) {
      flex-direction: column;
      box-sizing: border-box;
      justify-content: space-between;
      width: 50%;
      height: 300px;
    }

    &__item:nth-child(4) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 27px;
    }

    &__item:last-child {
      flex-direction: column;
      align-items: center;
      margin-bottom: 27px;
    }

    &__line {
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      color: $text-gray;
      line-height: 26px;
      margin-left: 630px;
    }

    &__field--contact {
      margin-top: 10px;
      width: 100%;
    }

    &__field {
      min-height: 0;
      padding-top: 0;
    }

    &__wrap {
      width: 100%;
    }

    &__landmarks {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }

    &__field--landmarks {
      box-sizing: border-box;
      margin-top: 50px;
      width: 50%;
      padding-left: 50px;
    }
  }

  input.form-section__contact[type="text"] {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
  }
}

@media (min-width: 1200px) {
  .form-section {
    &--wide {
      display: inline-flex;
      width: 100%;
    }

    &__field--contact {
      flex-direction: row;
      display: flex;
      justify-content: space-between;

      .form-section__field {
        width: 40%;
        display: inline-flex;
        white-space: nowrap;

        input {
          margin-left: 20px;
          padding-left: 20px;
        }
      }
    }

    &__item {
      margin-bottom: 60px;
    }


    &__field--landmarks {
      width: 25%;
      padding-left: 0;
      margin-bottom: 50px;
    }

    &__icon {
      content: "";
      position: absolute;
      right: -20px;
    }
  }
}
