.form-submit__btn {
  background-color: $bg-blue;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font: 700 21px/26px "pt sans", sans-serif;
  color: $bg-white;
}
