.gray-panel__info {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  line-height: 21px;
  background: $bg-gray;
  display: inline-block;
  vertical-align: top;
  padding: 18px 5px 0;
  margin-bottom: 40px;
}

.gray-panel__place {
  text-transform: uppercase;
  font: 400 14px/21px $ptsans;
  color: $text-gray;
  margin: 15px auto;
  width: 250px;
}

.gray-panel__info li {
  margin-bottom: 60px;
}

.gray-panel__info li:last-child {
  margin-bottom: 0;
}

.gray-panel__title {
  margin-bottom: -5px;
  text-transform: uppercase;
  font: 700 18px/21px $ptsans;
}

@media (min-width: 768px) {
  .gray-panel__info {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 22px 10px 0 0;
    width: 100%;

    li {
      margin: 0;
      margin-bottom: 30px;
      list-style-type: none;
      width: 33.333333%;
      display: inline-block;
      vertical-align: top;
    }
  }

  .gray-panel__info li:nth-child(1),
  .gray-panel__info li:nth-child(2) {
    border-bottom: none;
  }

  .gray-panel__info li:last-child {
    margin-right: -10px;
  }

  .gray-panel__description {
    padding: 0 50px;
  }

  .gray-panel__title {
    margin-top: 25px;
    padding: 0 20px;
    font-size: 21px;
    line-height: 24px;
  }

  .gray-panel__place {
    width: auto;
    line-height: 21px;
    margin-top: 19px;
  }
}

@media (min-width: 1200px) {
  .gray-panel__title {
    line-height: 26px;
    padding: 0 30px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    max-width: 160px;
  }

  .gray-panel__info {
    padding: 15px 0 21px 0;
  }

  .gray-panel__description {
    margin-top: 0;
    padding-left: 45px;
  }

  .gray-panel__info li:last-child {
    margin-right: 0;
  }
}
