.main-nav__list {
  background-color: $bg-blue-nav;
}

.site-list__item {
  list-style-type: none;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 0 rgba(225, 225, 225, 0.4), 0 1px 0 0 $bg-blue;
  text-align: center;

  a {
    color: $text-white;
    text-transform: uppercase;
    text-decoration: none;
    font: 700 21px/40px $ptsans;
  }
}

@media (min-width: 768px) {
  .main-nav__list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    background-color: $bg-white;
    justify-content: space-around;


    .site-list__item {
      border-bottom: 0;
      box-shadow: none;
    }

    a {
      color: $text-black;
      text-decoration: none;
    }
  }
}


@media (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
  }

  .page-header__logo {
    margin-top: -30px;
    display: flex;
    justify-content: center;
  }
}
