.main-nav {
  position: relative;
  width: auto;
  margin: 0 auto;

  &__list {
    background-color: $bg-blue-nav;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 49px;
    background-color: $bg-blue-nav;
    cursor: pointer;
    border: none;

    &:hover,
    &:active {
      outline: none;
      background-color: $bg-blue-nav;
    }
  }
}

.site-list__item {
  list-style-type: none;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 0 rgba(225, 225, 225, 0.4), 0 1px 0 0 $bg-blue;
  text-align: center;

  a {
    color: $text-white;
    text-transform: uppercase;
    text-decoration: none;
    font: 700 21px/40px $ptsans;
  }
}

.main-nav--closed {
  .main-nav__toggle {
    background-color: $bg-white;

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 17px;
      width: 36px;
      height: 2px;
      background-color: $bg-blue-nav;
      box-shadow: 0 8px 0 0 $bg-blue-nav, 0 16px 0 0 $bg-blue-nav;
    }
  }

  .main-nav__wrapper {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 24px;
    left: 18px;

    width: 36px;
    height: 2px;

    background-color: $bg-white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 768px) {
  .main-nav--closed .site-list__item {
    display: block;

    &--active {
      display: block;
    }
  }

  .main-nav--opened .main-nav__wrapper {
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    background-color: $bg-blue-nav;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .user-list__item {
    display: block;
    background-color: $bg-blue-nav;
  }
}

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: auto;
  }
}

.site-list {
  font-weight: bold;
}

.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 30px;
  color: $text-white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.site-list a[href] {
  &:hover {
    background-color: #669ec0;
  }
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .site-list__item {
    width: 20%;
    text-align: center;
    padding-bottom: 10px;

    &--active {
      position: relative;
    }
  }

  .site-list__item a {
    font-size: 14px;
    line-height: 26px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 38px;
    background: none;
    border: none;
  }

  .site-list__item:nth-child(2) {
    margin-right: 20%;
  }
}

@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    background-color: $bg-white;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;

    .site-list__item {
      border-bottom: 0;
      box-shadow: none;
    }

    a {
      color: $text-black;
      text-decoration: none;
    }
  }

  .site-list__item a[href] {
    &:hover {
      color: $text-blue;
      background-color: $bg-white;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: $bg-white;
      opacity: 1;
    }

    &:disabled {
      color: $text-gray;
      background-color: $bg-white;
      opacity: 0.8;
    }
  }
}

@media (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
  }

  .page-header__logo {
    margin-top: -30px;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px;
  }

  .site-list__item a[href] {
    &:hover {
      color: $text-blue;
      background-color: $bg-white;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: $bg-white;
      opacity: 1;
    }
  }
}
