.media {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0 20px;

  &__title {
    font: 700 18px/26px $ptsans;
    color: $text-black;
    padding: 0 7%;
  }

  &__text {
    font: 400 14px/24px $ptsans;
    color: $text-gray;
    padding-left: 8%;
    padding-right: 7%;
    padding-top: 15px;
  }
}

@media (min-width: 768px) {
  .media {
    padding: 50px 15% 50px;
  }
}
