.page-footer {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 33px 5% 0;

  &__hashtag {
    text-transform: uppercase;
    font: bold 21px/26px $ptsans;
    color: $text-black;
    display: block;
    text-decoration: none;
    padding-bottom: 20px;
  }

  &__copyright {
    text-transform: uppercase;
    font: 400 14px/26px $ptsans;
  }

  &__text {
    margin: 0 auto;
    font: 400 14px/26px $ptsans;
  }

  &__link {
    font-size: 0;
    height: 53px;
    fill: $bg-black;
  }
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    &__copyright {
      width: 33.333333%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
