.picture {
  width: 100%;
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding: 20px 20px 15px 20px;

  .picture__image {
    display: block;
  }

  .picture__title {
    text-transform: uppercase;
    font: 700 14px/24px $ptsans;
    color: $bg-black;
    padding: 0;
    margin: 0;
  }

  .picture__text {
    font: 400 14px/24px $ptsans;
    color: $text-gray;
    padding: 0;
    margin: 0;
  }

  .picture__footer {
    margin-top: 12px;
  }

  .picture__count {
    margin: 5px 0 0 10px;
    font: 700 14px/24px $ptsans;
    color: $text-black;
    display: inline-block;
    vertical-align: bottom;
  }

  .picture__link img {
    width: 100%;
  }

  .picture__likes {
    margin-top: 5px;
  }

  .picture__like {
    fill: #b2b2b2;
    cursor: pointer;
    margin-top: 5px;
  }
}

@media (min-width: 768px) {
  .picture {
    padding: 0;

    &--big .picture__footer {
      padding-bottom: 15px;
    }

    &--big .picture__image {
      margin-bottom: -10px;
    }

    .picture__count {
      margin: 5px 0 0 5px;
    }

    &--little {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 0;
      margin: 0;
    }

    &--little .picture__footer {
      padding-right: 30px;
    }

    .picture__footer {
      display: flex;
      justify-content: space-between;
      background: #f2f2f2;
      padding: 20px 20px 10px 20px;
      margin-top: -5px;
    }

    .picture__likes {
      margin-top: 5px;
    }
  }
}

@media (min-width: 1200px) {
  .picture {
    &--little {
      width: 33.333333%;
    }

    &--big {
      width: 100%;
    }

    .picture__like {
      fill: $bg-white;
    }

    .picture__title,
    .picture__text,
    .picture__count {
      color: $text-white;
    }

    .picture__likes .photo__like {
      fill: $bg-white;
    }

    .picture__footer {
      background: rgba(0, 0, 0, 0.4);
      display: flex;
      position: absolute;
      bottom: 5px;
      width: 100%;
      padding: 20px 0 10px 0;
    }

    &--big .picture__footer {
      padding-bottom: 10px;
    }

    &--little .picture__footer {
      padding-right: 0;
      padding-bottom: 15px;
    }

    .picture__block {
      margin-right: auto;
      padding-left: 20px;
    }

    &--big .picture__likes {
      padding-right: 20px;
    }

    &--little .picture__likes {
      padding-right: 30px;
    }
  }
}
