.picture {
  padding: 20px 20px 20px 20px;

  &__image {
    display: block;
  }

  &__title {
    text-transform: uppercase;
    font: 700 14px/24px $ptsans;
    color: $bg-black;
  }

  &__text {
    font: 400 14px/24px $ptsans;
    color: $text-gray;
  }

  &__count {
    margin-left: 13px;
    margin-top: 1px;
    font: 700 14px/24px $ptsans;
    color: $text-black;
  }

  &__link img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .visible {
    &__tablet {
      display: none;
    }

    &__desktop {
      display: none;
    }
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .visible {
    &__mobile {
      display: none;
    }

    &__desktop {
      display: none;
    }
  }

  .picture__little {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .visible {
    &__mobile {
      display: none;
    }

    &__tablet {
      display: none;
    }
  }

  .picture__little {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
