.review {
  margin-bottom: 120px;

  &__title {
    text-transform: uppercase;
    font: 700 18px/26px $ptsans;
    color: $text-black;
  }

  &__text {
    font: 400 14px/24px $ptsans;
    color: $text-gray;
    padding: 15px 0;
  }

  &__header {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding: 23px 0 5px;
  }
}

@media (min-width: 1200px) {
  &__header {
    padding: 58px 15% 38px;
  }
}
