.review {
  &__title {
    text-transform: uppercase;
    font: 700 18px/26px $ptsans;
    color: $text-black;
  }

  &__text {
    font: 400 14px/24px $ptsans;
    color: $text-gray;
    padding: 15px 0;
  }

  &__header {
    position: relative;
    text-transform: uppercase;
    text-align: center;
  }
}
