.service {
  padding-inline-start: 0;
  padding-top: 5px;
  margin-bottom: 26px;
  padding-left: 4px;
  padding-right: 10px;

  &__title {
    text-transform: uppercase;
    font: 700 18px/26px $ptsans;
    color: $text-black;
    background: $bg-white;
    padding-top: 9px;
    padding-bottom: 12px;
    margin-bottom: 0;
  }

  &__text {
    text-transform: uppercase;
    font: 440 14px/21px $ptsans;
    color: $text-gray;
    margin: 0;
    margin-bottom: -4px;
  }

  &__item {
    display: inline-flex;
    list-style-type: none;
    padding: 7px 5.5% 0;
  }

  &__image {
    svg {
      fill: $bg-blue;
      width: 40px;
    }
  }

  &__description {
    padding-left: 10px;
  }
}

@media (min-width: 768px) {
  .service {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 47px;

    &__item {
      flex-direction: column;
      text-align: center;
      width: 33.333333%;
      padding-left: 35px;
      font-size: 21px;
    }

    &__title {
      padding: 0;
      margin: 0;
      padding-top: 24px;
      font-size: 21px;
      padding-bottom: 19px;
    }

    &__description {
      padding: 0;
    }

    &__image {
      svg {
        width: 76px;
      }
    }

    &__item--first {
      order: 1;
    }
  }
}
