.service {
  &__title {
    text-transform: uppercase;
    font: 700 18px/26px "pt sans", sans-serif;
    color: $text-black;
  }

  &__text {
    text-transform: uppercase;
    font: 440 14px/21px "pt sans", sans-serif;
    color: $text-gray;
  }
}

@media (min-width: 768px) {
  .service {
    display: flex;
    justify-content: space-around;
  }
}
