.social-btn {
  font-size: 0;
  width: 46px;
  height: 48px;
  background: $bg-blue;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 8px;

  &:hover {
    background-color: $blue-dark;
  }

  &:active {
    background-color: $blue-dark;
  }

  .social-btn__icon {
    fill: $bg-white;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    position: absolute;
  }

  .social-btn__icon:hover {
    fill: $blue-deep;
  }

  .social-btn__icon:active {
    opacity: 0.3;
  }
}
