.social-btn {
  font-size: 0;
  width: 46px;
  height: 48px;
  background: $bg-blue;
  display: inline-block;
  vertical-align: top;
  margin: 0 6px 0 auto;
  position: relative;
  margin-bottom: 20px;

  &__btn:hover {
    background-color: #5496bd;
  }

  &__btn:active {
    background-color: #5496bd;
  }
}

.social-btn--icon {
  fill: $bg-white;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  position: absolute;
}

.social-btn--icon:active {
  opacity: 0.3;
}
