.video-content {
  position: relative;
  text-align: center;
  margin-bottom: 100px;

  &__footer {
    text-transform: uppercase;
  }

  &__title {
    font: 700 18px/26px $ptsans;
    color: $text-black;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    padding: 10px 0;
  }

  &__text {
    font: 400 14px/24px $ptsans;
    padding-top: 5px;
    padding-left: 7%;
    padding-right: 7%;
  }

  &__video-clip {
    margin-top: 15px;
    width: 320px;
    position: relative;
  }

  &__play {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 87%;
    height: 45px;
    bottom: 5px;
  }

  &__svg {
    background: #f2f2f2;
    width: 100%;
    height: 65px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: absolute;
    top: 45px;
  }

  &__scale {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 4px;
    top: 20px;
    position: absolute;
  }

  &__bar {
    width: 10px;
    height: 10px;
    top: 17px;
    left: 55px;
    background: $bg-white;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
  }

  &__btn {
    margin-top: 5px;
  }

  &__btn-repeat {
    margin: 5px auto 0 25px;
  }

  &__btn-subtitles {
    margin-right: 30px;
  }

  &__btn-fullscreen {
    padding-right: 20px;
  }

  &__svg-header {
    display: none;
  }
}

@media (min-width: 768px) {
  .video-content {
    &__bar {
      bottom: 53px;
      left: 277px;
    }

    &__scale {
      width: 480px;
    }

    &__play {
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      width: 100%;
      height: 93px;
      bottom: 0;
    }

    &__video-clip {
      width: 648px;
      height: 499px;
      margin-bottom: 45px;
    }

    &__text {
      font: 400 14px/24px $ptsans;
      color: $text-gray;
    }

    &__svg {
      display: none;
    }

    &__svg-header {
      width: 80%;
      height: 80px;
      display: flex;
      left: 47%;
      justify-content: space-between;
      box-sizing: border-box;
      align-items: center;
      position: absolute;
    }

    &__header-begin--icon {
      font-size: 0;
      width: 25px;
      height: 25px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      fill: $bg-white;
      transform: translateX(-50%) translateY(-50%);
      margin-left: -530px;
    }

    &__header-middle {
      margin-bottom: 20px;
      margin-left: -20px;
    }

    &__header-end {
      margin-bottom: 20px;
      margin-left: 80px;
    }
  }
}

@media (min-width: 1200px) {
  .video-content {
    &__header-begin--icon {
      margin-left: -830px;
    }
  }
}
