body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "pt sans", "Arial", sans-serif;
  font-style: "pt sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
