body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "pt sans", "Arial", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  width: auto;
  min-height: 100%;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: auto;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    width: auto;
    padding: 0 64px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: auto;
    padding: 0 120px;
  }
}
