// Шрифты
$ptsans: "pt sans", "Arial", sans-serif;

// Цвета фона
$bg-white: #ffffff;
$bg-blue: #81b3d2;
$bg-blue-nav: #82b3d3;
$bg-gray: #eeeeee;
$bg-input: #f2f2f2;
$bg-black: #000000;

// Цвета текста
$text-white: #ffffff;
$text-black: #000000;
$text-gray: #333333;
$text-blue: #81b3d2;
