@media (max-width: 768px) {
  .visible {
    &__mobile {
      display: block;
    }

    &__tablet {
      display: none;
    }

    &__desktop {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .visible {
    &__mobile {
      display: none;
    }

    &__tablet {
      display: block;
    }

    &__desktop {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .visible {
    &__mobile {
      display: none;
    }

    &__tablet {
      display: none;
    }

    &__desktop {
      display: block;
    }
  }
}
