@media (max-width: 768px) {
  .visible {
    .visible__mobile {
      display: block;
    }

    .visible__tablet {
      display: none;
    }

    .visible__desktop {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .visible {
    .visible__mobile {
      display: none;
    }

    .visible__tablet {
      display: block;
    }

    .visible__desktop {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .visible {
    .visible__mobile {
      display: none;
    }

    .visible__tablet {
      display: none;
    }

    .visible__desktop {
      display: block;
    }
  }

  body {
    background-color: $bg-input;
  }

  .wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: $bg-white;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
